@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

body {
  box-sizing: border-box;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
 
}
.w-icon{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;
  text-align: center;
  z-index: 100;
 
}

h1 {
  font-family: "Playwrite DE Grund", cursive;
}


