*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.listed-member-ul-list-container{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 15px;
}